# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# PyInstaller
*.manifest
*.spec

# Nuitka / Build directories
backup_src/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.sveditor
.pytest_cache/
pytestdebug.log

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# User-specific local configurations
last_config.json
*.ini

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
